html,
body {
    height: 100%;
}

header {
    width: auto;
    height: 100px;
    background-color: #6495ed;
}

.container {
    display: grid;
    grid-template-columns: 1fr 275px 1fr;
    grid-template-rows: 1fr 362px;
    flex: 1;
    width: 100%;
}

form,
.formContent {
    height: 40px;
}

.formContent {
    margin-top: 10px;
}

#content {
    grid-column-start: 2;
}

input[name="timeNoteIn"] {
    position: relative;
    top: 1.2px;
    right: 3px;
    width: 20px;
    height: 20px;
}

.labelEle {
    font-size: 25px;
    font-weight: bold;
}

p[name="timeInfo"] {
    font-size: 22px;
    font-weight: bold;
}

#timeSet {
    font-size: 24px;
    font-weight: bold;
}

footer {
    width: auto;
    height: 80px;
    background-color: #6495ed;
}

#footer-list {
    list-style: none;
}

a {
    color: black;
}

@media (min-width: 767px) {
    .container {
        grid-template-columns: 1fr 500px 1fr;
    }

    p[name="timeInfo"] {
        font-size: 22px;
    }

    #timeSet {
        font-size: 28px;
    }
}